*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif
}
.container{
    display: grid;
    height: 100vh;
    /*en esta propiedad se pudee definie el numero de comunas que quiero mostar
    auto  va  a tomar todo el espacio libre y por cada seccionque escriba es una columna */

    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    /*align-items: center;
    justify-content: center;*/
    
}

.container div{
    border: solid;
    padding: 50 px;
    font-size: 2em;
    text-align: center;
}



.reset{
    border: solid;
    grid-column: 1/ span 2;
}
.equal{
    border: solid red;
    /*grid-column: 3/5*/
    grid-column: 3/ span 2;
}

.item1{
    background-color: aqua;
    border: blue solid 15px; 
    grid-row: 1/2;
}

.item2{ 
    background-color: brown;
    grid-row: 1/3;
}
    
.item3{
    background-color: blueviolet;
    grid-row: 1/4;
}
.item4{
    background-color: yellow;
    grid-row: 1/7;
}
